/* Margin Top Customize */
.mt-5 {
	margin-top: 5px!important;
}
.mt-10 {
	margin-top: 5px!important;
}
.mt-15 {
	margin-top: 5px!important;
}
.mt-20 {
	margin-top: 5px!important;
}
.mt-30 {
	margin-top: 5px!important;
}
.mt-40 {
	margin-top: 5px!important;
}
.mt-50 {
	margin-top: 5px!important;
}

/* Margin Left Customize */
.ml-5 {
	margin-left: 5px!important;
}
.ml-10 {
	margin-left: 5px!important;
}
.ml-15 {
	margin-left: 5px!important;
}
.ml-20 {
	margin-left: 5px!important;
}
.ml-30 {
	margin-left: 5px!important;
}
.ml-40 {
	margin-left: 5px!important;
}
.ml-50 {
	margin-left: 5px!important;
}
