<div>
  <h3 class="col-xs-12 text-center">Or sign up using your email</h3>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.credentials.lastName" placeholder="Last Name" required>
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
            <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
          <div ng-messages="vm.userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="!vm.userForm.password.$error.required">
          <label>Password Requirements</label>
          <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
        </div>
        <div class="form-group" show-errors>
          <label for="awsId">AWS ID <span class="text-danger">*</span></label>
          <input type="password" id="awsId" name="awsId" class="form-control" ng-model="vm.credentials.awsId" placeholder="AWS ID" ng-change="vm.onChangeAWSId()" required>
          <div class="row mt-10" ng-hide="true">
            <button type="button" class="btn btn-primary col-md-offset-7" ng-click="vm.isAWSAccountIde()" ng-disabled="vm.validButton">Validate ID</button>
          </div>
          <div ng-messages="vm.userForm.awsId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">AWS ID is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="awsSecret">AWS Secret Key <span class="text-danger">*</span></label>
          <input type="password" id="awsSecret" name="awsSecret" class="form-control" ng-model="vm.credentials.awsSecret" placeholder="AWS Secret Key" required>
          <div ng-messages="vm.userForm.awsSecret.$error" role="alert">
            <p class="help-block error-text" ng-message="required">AWS Secret is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="assocId">Associate Id <span class="text-danger">*</span></label>
          <input type="password" id="assocId" name="assocId" class="form-control" ng-model="vm.credentials.assocId" placeholder="Associate Id" required>
          <div ng-messages="vm.userForm.assocId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Associate ID is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="merchantId">Merchant Id</label>
          <input type="password" id="merchantId" name="merchantId" class="form-control" ng-model="vm.credentials.merchantId" placeholder="Merchant Id">
        </div>
        <div class="form-group">
          <label for="marketId">Marketplace Id</label>
          <input type="password" id="marketId" name="marketId" class="form-control" ng-model="vm.credentials.marketId" placeholder="Marketplace Id">
        </div>
        <div class="form-group">
          <label for="accessToken">Access Token</label>
          <input type="password" id="accessToken" name="accessToken" class="form-control" ng-model="vm.credentials.accessToken" placeholder="Accees Token">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Sign up</button>
          &nbsp; or&nbsp;
          <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
